 /* 設置背景顏色為黑色 */

        body {
			cursor: url('img/Cursor0.png'), auto; /* 預設鼠標圖案 */
            margin: 0;
            padding: 0;
            background-color: black; /* 背景顏色設為黑色 */
            overflow: hidden; /* 防止出現滾動條 */
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
			user-select: none; /* 禁止選擇 */
			-webkit-user-select: none; /* 針對 Safari 和 Chrome 的前綴 */
			-moz-user-select: none; /* 針對 Firefox 的前綴 */
			-ms-user-select: none; /* 針對 IE 和 Edge 的前綴 */
        }
		
		    /* 當鼠標在超連結上時顯示 Cursor1 */
			a:hover {
				cursor: url('img/Cursor1.png'), auto;
			}

        /* 雲朵容器，依據比例顯示 */
        .clouds {
            position: relative;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            background-image: url('img/bg.png'); /* 設置背景圖 */
            background-repeat: repeat; /* 重複背景圖 */
            background-size: 20px auto; /* 設置背景圖大小 */
        }

        /* 每個雲朵的基本設定 */
        .cloud {
            position: absolute;
            animation: moveClouds 65s linear infinite;
        }

        /* 雲朵移動的動畫效果 */
        @keyframes moveClouds {
            from {
                transform: translateX(100vw); /* 從畫面右側外移入 */
            }
            to {
                transform: translateX(-105vw); /* 向左移動出畫面更多，確保完全消失 */
            }
        }

        /* 熱氣球設定 */
        .balloon {
            position: absolute;
            animation: moveBalloons 90s linear infinite, swing 2s ease-in-out infinite; /* 修正動畫 */
            top: 7%; /* 垂直位置 */
        }

        /* 熱氣球移動的動畫效果 */
        @keyframes moveBalloons {
            from {
                left: 100vw; /* 從右側外移入 */
            }
            to {
                left: -10vw; /* 向左移動出畫面 */
            }
        }

        /* 熱氣球擺動的動畫效果 */
        @keyframes swing {
            0%, 100% {
                transform: translateY(0); /* 起始位置 */
            }
            50% {
                transform: translateY(-5px); /* 向上擺動 */
            }
        }


		/* Yeti 的基本樣式 */
		.yeti {
			position: absolute;
			width: 205px;  /* 設定 Yeti 的寬度 */
			height: 205px; /* 設定 Yeti 的高度 */
			top: 55%;      /* Yeti 的垂直位置 */
			z-index: 10;   /* 確保 Yeti 位於湖泊上方 */
			animation: moveYeti 85s linear infinite; /* 調整移動動畫時間至 85 秒 */
		}

		/* 移動動畫，從左至右 */
		@keyframes moveYeti {
			from {
				transform: translateX(-100px); /* 從左邊邊緣外開始 */
			}
			to {
				transform: translateX(100vw); /* 向右移動直到畫面外 */
			}
		}





        /* 山脈背景的設定 */
        .mountain {
            position: absolute;
            bottom: 20%; /* 貼齊底部 */
        }

        /* Montain_a 的位置 */
        #mountainA {
            left: 0; /* 貼齊左側 */
        }

        /* Montain_b 的位置 */
        #mountainB {
            left: 686px; /* Montain_a 的寬度 - 1，讓 Montain_b 貼齊 Montain_a */
        }

        /* 湖泊背景的設定 */
        .lake {
            position: absolute;
            bottom: 10%; /* 貼齊底部，作為前景 */
        }

        /* Lake_a 的位置 */
        #lakeA {
            left: 0; /* 貼齊左側 */
        }

        /* Lake_b 的位置 */
        #lakeB {
            left: 889px; /* lake_a 的寬度 - 1，讓 lake_b 貼齊 lake_a */
        }
		
		/* Jungle 前景圖片的樣式 */
		/* Jungle 前景層設定 */
		.jungleContainer {
			position: absolute;
			bottom: -5%; /* 置於最上方 */
			left: 0; /* 置於最左側 */
			width: 100%;
			height: 434px;
			background-image: url('img/jungle_0.png'); /* 設置背景圖片 */
			background-repeat: repeat-x; /* 水平方向重複 */
			background-size: auto 100%; /* 高度自適應，寬度保持比例 */
			z-index: 20; /* 確保在其他圖片之上 */
		}

		
		.jungle-bg1 {
			position: absolute;
            bottom: 0; /* 貼齊底部 */
			left: 20%; /* 貼齊畫面左側 */
			width: 1083px;
			height: 259px;
			z-index: 21; /* 設定較高的 z-index，確保在所有元素之上 */
			pointer-events: none; /* 確保不影響點擊等互動 */
		}
		
		.jungle-bg2 {
			position: absolute;
            bottom: 0; /* 貼齊底部 */
			left: 10%; /* 貼齊畫面左側 */
			width: 487px;
			height: 451px;
			z-index: 20; /* 設定較高的 z-index，確保在所有元素之上 */
			pointer-events: none; /* 確保不影響點擊等互動 */
		}
		
		.tower {
			position: absolute;
            bottom: 55%; 
			left: 25%;
			width: 171px;
			height: 268px;
			z-index: 19; /* 設定較高的 z-index，確保在所有元素之上 */
			pointer-events: none; /* 確保不影響點擊等互動 */
		}
		
		/* Board 圖片容器 */
		.boardContainer {
			position: absolute; /* 確保可以精確定位 */
			bottom: 20%; /* 與頁面底部的距離 */
			left: 25%; /* 與頁面左側的距離 */
			z-index: 22; /* 確保在所有元素之上 */
			
		}

		/* 可點擊範圍樣式 */
		.clickableArea {
			position: absolute; /* 使其絕對定位 */
			width: 40px; /* 寬度 */
			height: 40px; /* 高度 */
			background-color: rgba(255, 255, 255, 0); /* 可見度設定為透明 */
			cursor: url('img/Cursor0.png'), auto; /* 滑鼠游標預設顯示 Cursor0 */
			z-index: 23; /* 確保在 board 圖片之上 */
		}
		

		/* 第一個可點擊範圍位置 */
		#clickableArea1 {
			top: 331px; /* 設定距離圖片底部的距離 */
			left: 190px; /* 設定距離圖片左側的距離 */
		}

		/* 第二個可點擊範圍位置 */
		#clickableArea2 {
			top: 331px; /* 設定距離圖片底部的距離 */
			left: 270px; /* 設定距離圖片左側的距離 */
		}

		#clickableArea1:active {
			cursor: url('img/Cursor1.png'), auto; /* 滑鼠點擊顯示 Cursor1 */
		}

		#clickableArea2:active {
			cursor: url('img/Cursor1.png'), auto; /* 滑鼠點擊顯示 Cursor1 */
		}


		.shop {
			position: absolute;
            bottom: 128px; 
			left: 0;
			width: 416px;
			height: 449px;
			z-index: 23; /* 設定較高的 z-index，確保在所有元素之上 */
			pointer-events: none; /* 確保不影響點擊等互動 */
		}
		
		.shop_2 {
			position: absolute;
            bottom: 128px; 
			left: 170px;
			width: 158px;
			height: 20px;
			z-index: 23; /* 設定較高的 z-index，確保在所有元素之上 */
			pointer-events: none; /* 確保不影響點擊等互動 */
		}
		
		.fence {
			position: absolute;
            bottom: 128px; 
			left: 298px;
			width: 1584px;
			height: 674px;
			z-index: 22; /* 設定較高的 z-index，確保在所有元素之上 */
			pointer-events: none; /* 確保不影響點擊等互動 */
		}



		/* 地板的樣式 */
		.floor {
			position: absolute; /* 可以根據需求調整位置 */
			bottom: 60px; /* 垂直置底 */
			left: 0; /* 水平置左 */
			width: 100%; /* 佔滿整個寬度 */
			height: 36px; /* 設定高度為地板素材的高度 */
			background-image: url('img/Ground0_0.png'), url('img/Ground0_1.png'), url('img/Ground0_2.png');
			background-repeat: repeat-x; /* 水平重複 */
			background-size: 90px 36px; /* 每張圖的大小 */
			z-index: 30; /* 確保在其他元素之下或之上，根據需要調整 */
		}
		.floor2 {
			position: absolute; /* 可以根據需求調整位置 */
			bottom: 0%; /* 垂直置底 */
			left: 0; /* 水平置左 */
			width: 100%; /* 佔滿整個寬度 */
			height: 60px; /* 設定高度為地板素材的高度 */
			background-image: url('img/Ground1_0.png'), url('img/Ground1_1.png'), url('img/Ground1_2.png'), url('img/Ground1_3.png'), url('img/Ground1_4.png'), url('img/Ground1_5.png');
			background-repeat: repeat-x; /* 水平重複 */
			background-size: 90px 60px; /* 每張圖的大小 */
			z-index: 30; /* 確保在其他元素之下或之上，根據需要調整 */
		}
		
		/* 喇叭圖案和音樂控制按鈕，距離整個視窗左上角5% */
		#playButton {
			position: fixed;
			top: 15%;
			left: 15%;
			width: 40px;
			height: 40px;
			cursor: pointer;
			z-index: 100; /* 增加 z-index 確保在最上層 */
		}

        /* 音樂播放器隱藏，只控制播放狀態 */
        #bgmPlayer {
            display: none; /* 隱藏播放器，僅透過JavaScript控制 */
        }
		
		#npc {
		  position: absolute; /* 可以根據需求調整位置 */
		  bottom: 90px; /* 垂直置底 */
		  left: 55%; /* 水平置左 */
		  width: 115px;
		  height: 86px;
		  z-index: 33; /* 確保在其他元素之下或之上，根據需要調整 */
		}

		#npc-image {
		  width: 100%;
		  height: 100%;
		  transition: opacity 0.3s ease;
		}
		
		#npc-tag {
		  position: absolute; /* 可以根據需求調整位置 */
		  bottom: 40px; /* 垂直置底 */
		  left: 55%; /* 水平置左 */
		  width: 115px;
		  height: 45px;
		  z-index: 33; /* 確保在其他元素之下或之上，根據需要調整 */
		}


		#signboard {
			position: absolute;
			top: 40%;
			right: 10%;
			transform: translateY(-50%); /* 確保垂直置中 */
			width: 371px;
			height: 520px;
			background-image: url('img/signboard.png');
			background-size: cover;
			z-index: 35;
		}

		.sign-count {
			position: absolute;
			color: white; /* 或根據設計調整顏色 */
			font-size: 18px; /* 調整大小符合需求 */
			font-weight: bold;
		}

		#count-mon { top: 196px; left: 279px; }
		#count-tue { top: 241px; left: 279px; }
		#count-wed { top: 286px; left: 279px; }
		#count-thu { top: 331px; left: 279px; }
		#count-fri { top: 376px; left: 279px; }
		#count-sat { top: 422px; left: 279px; }
		#count-sun { top: 467px; left: 279px; }
		
		#edit-button {
			position: absolute;
			top: 150px;
			left: 300px;
			width: 58px;
			height: 21px;
			background-image: url('img/edit_1.png');
			background-size: cover;
			cursor: url('img/Cursor0.png'), auto; /* 滑鼠游標預設顯示 Cursor0 */
			z-index: 36;
		}

		#edit-button:hover {
			background-image: url('img/edit_2.png');
			cursor: url('img/Cursor0.png'), auto; /* 滑鼠滑過顯示 Cursor0 */
		}

		#edit-button:active {
			background-image: url('img/edit_3.png');
			cursor: url('img/Cursor1.png'), auto; /* 滑鼠點擊顯示 Cursor1 */
		}


		.input-field {
			position: absolute;
			width: 35px;
			height: 20px;
			font-size: 16px;
			text-align: center;
			border: 1px solid #ccc;
			border-radius: 5px;
			background-color: white;
		}



		#dialog-box {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 519px;
			height: 228px;
		}

		#dianpc-image {
			position: absolute;
			top: 45px;
			left: 25px;
		}

		#dianpc-image img {
			width: 115px;
			height: 86px;
		}

		.npc-animation {
			animation: npcAnimation 2.4s infinite;
		}

		@keyframes npcAnimation {
			0% {
				content: url('img/NPC/pet.0.png');
			}
			20% {
				content: url('img/NPC/pet.1.png');
			}
			40% {
				content: url('img/NPC/pet.0.png');
			}
			60% {
				content: url('img/NPC/pet.1.png');
			}
			100% {
				content: url('img/NPC/pet.0.png');
			}
		}

		#dianpc-name {
			position: absolute;
			top: 131px;  /* 設定 NPC 名字底圖的位置 */
			left: 25px;
			width: 109px;
			height: 19px;
		}

		#dianpc-name img {
			width: 100%;
			height: 100%;
		}

		.dianpc-name {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-family: "SimSun", serif;
			font-size: 12px;
			color: white;
		}

		/* 文字顯示效果 */
		#dialog-text {
			position: absolute;
			top: 24px;
			left: 164px;
			font-family: "SimSun", serif;
			font-size: 12px;
			color: #555555;
			max-width: 330px;  /* 限制文本顯示的最大寬度 */
			word-wrap: break-word;  /* 當文本過長時自動換行 */
			white-space: pre-wrap;  /* 保持換行符號 */
			width: 100%;
			height: 20px;
			line-height: 20px;
		}

		#dialog-options {
			position: absolute;
			top: 70px;
			left: 160px;
			font-family: "SimSun", serif;
			font-size: 11px;
			color: #51378C;
		}

		#dialog-options button {
			background: none;
			border: none;
			color: #51378C;
			font-size: 12px;
			cursor: url('img/Cursor0.png'), auto;
			display: block;
			margin: 5px 0;
		}

		#dialog-options button:active {
			cursor: url('img/Cursor1.png'), auto;
		}

		#dialog-options button:hover {
			text-decoration: underline;
		}

		#dialog-options button img {
			vertical-align: middle;
			margin-right: 5px;
		}

		/* 按鈕效果 */
		button {
			background: none;
			color: #51378C;
			font-size: 12px;
			font-family: "SimSun", serif;
			cursor: pointer;
		}

		button:hover {
			background-color: #51378C;
			color: white;
		}


		/* 定義字體顏色、粗體等樣式 */
		.text-normal {
			font-size: 12px;
			color: #555555;
			font-weight: normal;
		}
		.text-blue {
			color: blue;
		}
		.text-red {
			color: red;
		}
		.text-bold {
			font-weight: bold;
		}
		.text-green {
			font-size: 12px;
			color: #555555;
			font-weight: normal;
		}
		.text-purple {
			color: purple;
		}
		.text-break {
			display: block;
		}
